<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <style>
            body{
                background-color : rgb(33, 33, 33);
                background-size: cover;
                margin: 0px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            h1{
                color: white;
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            h2{
                color: white;
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            h3{
                color: white;
                margin-left: 10px;
                text-align: left;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            p{
                color: white;
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            a{
                color: white;
                text-decoration: none;
            }
            
            .signup{
                display : inline-block;
                
                text-align: center;
                font-weight : bold;
                color: white;
                font-size : 20px;
                font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                background-color: rgb(33, 33, 33);
                border: 1px solid white;
                border-radius: 7px;
                
                margin-left: 80%;
                
                width: 100px;
            }
            .searchbar{
                display: flex;
                justify-content: center;
                
            }
            .searchbar input{
                width: 600px;
                height: 30px;
                margin-top: 20px;
                border-radius: 2px;
                border: 1px solid white;
                padding: 5px;
                font-size: 1em;
            }
            .searchButton {
                display:flex;
                justify-content: center;
                margin-top: 20px;
                border-radius: 2px;
                width: 80px;
                height: 42px;
                
            }
            .searchButton:hover{
                background-color: rgb(66,66,66);
                
            }
            .searchButton p{
                text-align: center;
                font-size: 13px;
                font-weight: bold;
            }
            
            .footer{
                
                background-color: rgb(33, 33, 33);
                color: white;
                text-align: center;
                padding: 10px;
                margin-top: 20px; /* Adjust this value based on your design */
                clear: both
            }
            .itemcontainer{
                display: flex;
                flex-grow : 1;
                
                margin: 7px 16px;
                justify-content: space-between;
                float: left;
                
                 
            }
            .itemcard{
                
                background-color: rgb(33, 33, 33);
                border: 1px solid white;
                border-radius: 10px;
                
                padding: 10px;
                width: 210px;
                height: 245px;
                float: left;
                
                
                text-align: center; 
                color:  rgb(220,220,220);
            }
            .itemcard img{
                margin-left: auto;
                margin-right: auto;
                border: 2px solid grey;
                width: 145px;
                height: 100px;
            }
            .itemcard p.name{ 
                width: 200px;
                height: 20px;
                text-align: center;
                font-size: 1.em;
                overflow: auto;
            }
            .itemcard p.price{
                font-size: 0.8em;
            }
            
            .itemcard p.description{ 
                  
                background-color: rgb(33, 33, 33);
                width: 200px;
                height: 50px;
                margin: 4px;
                border: 1px solid white;
                border-radius: 10px;
                font-size: 0.8em;
                overflow: auto;
            }
            input:focus {
                background-color: #cecece; /* Change this to your preferred color */
            }
        </style>
        <!--<script>
            const items = require('LOCAL_MARKET_RADAR/ItemPage.js');
            async function displayItems(items){
                var main = document.getElementById("MainItemContainer");
                main.innerHTML = "";

                items.forEach(function(item){
                    var itemContainer = document.createElement("div");
                    itemContainer.className = "itemcontainer";

                    var itemCard = document.createElement("div");
                    itemCard.className = "itemcard";

                    var img = document.createElement("img");
                    img.src = item.image;
                    img.alt = "image";

                    var name = document.createElement("h5");
                    name.className = "name";
                    name.innerHTML = item.name;
                
                    var price = document.createElement("p");
                    price.className = "price";
                    price.innerHTML = "Price: " + item.price + " | Stock: " + item.stock;

                    var description = document.createElement("p");
                    description.className = "description";
                    description.innerHTML = "Description: " + item.description;

                    itemCard.appendChild(img);
                    itemCard.appendChild(name);
                    itemCard.appendChild(price);
                    itemCard.appendChild(description);
                    itemContainer.appendChild(itemCard);
                    main.appendChild(itemContainer);
                });
            }
            const searchButton = document.getElementById("searchButton");
            searchButton.addEventListener("click", async function(){
                const search = document.getElementById("search").value;
                const items = await items.getItems(0, search.toString());
                displayItems(items);
            });

        </script>-->
        <title>Home</title>
    </head>  
    
    <body>
        <header>
           
            <h1 style="font-size: 56px; font-family: sans-serif;">Local Market Radar</h1>
            <button class = "signup">
                <a href= "http://localhost:8000/Account.html">Sign up</a>
            </button>
            <hr>
        
        </header>
        
        <main id = "main">
            
            <div class = "searchbar">  
                <input type="text" id="search" placeholder="Search for items..">

                
                <div class = "searchButton">
                    <p id="searchText">Search</button>
                </div>
                
                    
            </div>

            
            <div class = "searchSettings">
                <ul>
                    <!--<li><button id="filterButton">Filter</button></li>-->
                </ul>
            </div>
            
            <div id = "MainItemContainer">
                <% items.forEach(function(item){ %> 
                    <div class = "itemcontainer">
                        <div class="itemcard">
                            <img src= <%= item.image %> alt="image">
                            <h5 class="name"> <%= item.name %> </h5>
                            <p class="price">Price: <%= item.price %>    |     Stock: <%= item.stock %>  </p>
                            
                            <p class="description">Description: <%= item.description %> </p>
                        </div>
                    </div>
                <% }); %>
            </div>
            
           
        </main>
        
        <footer id = "footer">
            <template id = "footerTemplate">
                <div class = "footer">
                    <hr>
                    <p class="footer">Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas temporibus quibusdam doloremque velit magnam autem modi ipsam nam maiores? Odio consectetur doloribus tenetur iste fugiat explicabo sequi amet distinctio! </p>
                    
                </div>
            </template>
        </footer>
    </body>
    
</html>