<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <link rel="stylesheet" href="ItemPage.css">
        <title>Home</title>
    </head>  
    
    <body>
        <!--HEADER-->
            <header>
                <h1 style="font-size: 56px; font-family: sans-serif;">Local Market Radar</h1>
                <button class = "signup">
                    <a href= "/Account">Sign up</a>
                </button>
                <hr>
            </header>
        <!--MAIN-->
            <main id = "main">
                <div class = "searchbar">  
                    <input type="text" id="search" placeholder="Search for items..">

                    <div class = "searchButton">
                        <p id="searchText">Search</button>
                    </div>
                </div>

                <div class = "searchSettings">
                    <ul>
                        <!--<li><button id="filterButton">Filter</button></li>-->
                    </ul>
                </div>
                
                <div id = "MainItemContainer">
                    <% items.forEach(function(item){ %> 
                        <div class = "itemcontainer">
                            <div class="itemcard">
                                <img src= <%= item.image %> alt="image">
                                <h5 class="name"> <%= item.name %> </h5>
                                <p class="price">Price: <%= item.price %>    |     Stock: <%= item.stock %>  </p>
                                <p class="description">Description: <%= item.description %> </p>
                            </div>
                        </div>
                    <% }); %>
                </div>

                <!--SEARCH SCRIPT -->
                <script src="ItemPage.js"></script>

            </main>
        <!--FOOTER-->
            <footer id = "footer">
                <template id = "footerTemplate">
                    <div class = "footer">
                        <hr>
                        <p class="footer">Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas temporibus quibusdam doloremque velit magnam autem modi ipsam nam maiores? Odio consectetur doloribus tenetur iste fugiat explicabo sequi amet distinctio! </p>
                    </div>
                </template>
            </footer>

    </body>
    
</html>